@import 'tailwindcss';

@plugin 'flowbite/plugin';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	/* constants */
	--font-head: 'Unbounded Variable', Helvetica, Arial, sans-serif;
	--font-body: 'Poppins', Helvetica, Arial, sans-serif;
	--color-seagate: #6ebe49;
	--color-seagate-select: oklch(72.524% 0.17166 137.134 / 0.6);
	--color-navbar-text: white;
	/* themed */
	--color-surface: var(--surface);
	--color-surface-overlay: var(--surface-overlay);
	--color-surface-navbar: var(--surface-navbar);
	--color-surface-navbar-overlay: var(--surface-navbar-overlay);
	--color-primary: var(--primary);
	--color-secondary: var(--secondary);
}

:root {
	/* default: light mode */
	color-scheme: light dark;
	--surface: white;
	--surface-overlay: #e2e2e2;
	--surface-navbar: #242424;
	--surface-navbar-overlay: oklch(0.36 0 0);
	--primary: black;
	--secondary: oklch(35% 0 0);
	--hero-image-filter: none;
}

.dark {
	/* dark mode */
	--surface: #242424;
	--surface-overlay: #444;
	--surface-navbar: #363636;
	--surface-navbar-overlay: oklch(0.4 0 0);
	--primary: white;
	--secondary: oklch(88% 0 0);
	--hero-image-filter: contrast(0.833) brightness(0.71);
}

@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";

@layer base {
	/* disable chrome cancel button */
		input[type="search"]::-webkit-search-cancel-button {
		display: none;
	}

	body {
		color-scheme: light;
		background-color: var(--surface);
        color: var(--primary);
        font-family: var(--font-body);
        -webkit-font-smoothing: antialiased;
		transition: background-color 0.3s ease, color 0.3s ease;
	}

	h1, h2, h3, h4, h5, h6 {
		@apply font-head font-bold;
	}
}

.bg-surface { background-color: var(--surface); }
.bg-surface-overlay { background-color: var(--surface-overlay); }
.bg-surface-navbar { background-color: var(--surface-navbar); }
.text-primary { color: var(--text-primary); }

::selection {
	@apply bg-seagate-select;
}

.output-box::selection,
.output-box *::selection {
	background-color: var(--surface-navbar);
}

.navbar-list ul {
	@apply bg-surface-navbar border-none!;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	appearance: textfield;
	text-align: center;
}

.input-range > * {
	flex: 1;
}
.input-range > *:first-child { text-align: left; }
.input-range > *:nth-child(2) { text-align: center; }
.input-range > *:last-child { text-align: right; }